# Data Science Tools and Ecosystem

## Author
Nathan

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- Covert minutes to hours
- Perform simple arithmetic

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQl

Some of the commonly used libraries used by Data Scientists include:

1. Keras
2. Pandas
3. SciKit-Learn

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335